
.body{
  background: black
}
.App{
  width: fit-content;
  height:fit-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:rgb(11, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}